# Normalize all text files to use LF in the repository
* text=auto

# Handle specific file types for text files
*.html      text
*.css       text
*.js        text
*.vue       text
*.md        text
*.json      text
*.yml       text
*.yaml      text
*.xml       text

# Make sure binary files are not converted
*.png       binary
*.jpg       binary
*.gif       binary
*.ico       binary
*.woff      binary
*.woff2     binary
*.ttf       binary
*.otf       binary
*.zip       binary
*.gz        binary
*.exe       binary